header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--light-bg);
    font-family: 'Bellota', sans-serif;
    color: var(--h-text-color);
    padding: .5rem 0;
}

.logoHeader {
    display: flex; 
    align-items: center;
    font-family: 'Bellota', sans-serif;
}

.logoHeader img {
    width: 70px;
    height: auto;
    margin-left: 15rem;
}

header h1 {
    margin: 0; 
    font-size: 2.5rem;
    color: var(--h-text-color);
    font-family: 'Bellota', sans-serif;
}

nav {
    display: flex;
    align-items: center; 
    gap: 1rem;
}

nav a {
    margin: 0px 15px;
    text-decoration: none;
    color: var(--h-text-color);
    font-weight: bold;
    font-family: 'Bellota', sans-serif;
}

.cta-button {
    padding: 10px 20px;
    background-color: var(--accent-color);
    border-radius: 20px;
    text-decoration: none;
    color: var(--h-text-color);
    font-weight: bold;
    font-family: 'Bellota', sans-serif;
    margin-right: 15rem;
}

body {
    background-color: var(--lighter-bg);
    color: var(--h-text-color);
    margin: 0;
    padding: 0;
}

footer {
    background-color: var(--light-bg);
    text-align: center;
    padding: 10px;
    color: var(--h-text-color);
}

footer a {
    text-decoration: none;
    color: var(--footer-link);
    font-family: 'Encode Sans Condensed', sans-serif;
}

footer a:hover {
    text-decoration: underline;
    color: var(--h-text-color);
}

footer .social-icons img {
    width: 24px;
    margin: 20px 10px 20px 10px;
}

footer .social-icons h3 {
    font-family: 'Encode Sans Condensed', sans-serif;
    font-weight: 400;
}

footer p {
    font-size: 12px;
    color: var(--footer-link);
    font-family: 'Encode Sans Condensed', sans-serif;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: var(--light-bg);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

body {
    padding-top: 70px; 
}

html, body {
    margin: 0;
    padding: 0;
}

a {
  text-decoration: none; 
}
