:root {
    --h-text-color: #404F87;		
    --text-color: #5A619B;	
    --accent-color: #A7C0F7;		
    --light-bg: #E8EFFF;
    --lighter-bg: #F2F6FF;
    --feature-bg: #BFCDEE;
    --footer-link: #9CB1E1;
    --team-member-bg: #E2EBFF;
}

.dark-mode {
    --h-text-color: #69c9d7;		
    --text-color: #bed2e1;	
    --accent-color: #335d6c;		
    --light-bg: #1d242b;
    --lighter-bg: #2f313c;
    --feature-bg: #0d2843;
    --footer-link: #747a98;
    --team-member-bg: #2f313c;
}