@import url('https://fonts.googleapis.com/css2?family=Bellota:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Encode+Sans+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    background-color: #f2f6ff;
    color: #404F87;
    margin: 0;
    padding: 0;
}

a {
    color: #404F87;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #e6f0ff;
    font-family: 'Bellota', sans-serif;
    color: #404F87;
}

.logoHeader {
    display: flex; 
    align-items: center;
    font-family: 'Bellota', sans-serif;
}

.logoHeader img {
    width: 100px;
    height: 100px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

header h1 {
   margin: 0; 
   font-size: 2.5rem;
   color: #404F87;
   font-family: 'Bellota', sans-serif;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #404F87;
    font-weight: bold;
    font-family: 'Bellota', sans-serif;
}
.cta-button {
    padding: 10px 20px;
    background-color: #A7C0F7;
    border-radius: 20px;
    text-decoration: none;
    color: #404F87;
    font-weight: bold;
    font-family: 'Bellota', sans-serif;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 20px;
    gap: 40px;
    color: #404F87;
    font-family: 'Bellota', sans-serif;
}
.about-text {
    max-width: 500px;
    color: #404F87;
    font-family: 'Bellota', sans-serif;
}
.about-text h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #404F87;
    font-family: 'Encode Sans Condensed', sans-serif;
    font-weight: 400;
}
.about-text p {
    line-height: 1.6;
    color: #404F87;
    font-family: 'Bellota', sans-serif;
}
.team-button {
    margin-top: 20px;
    display: inline-block;
    padding: 10px 15px;
    background-color: #cbdcff;
    border-radius: 12px;
    text-decoration: none;
    color: #404F87;
    font-family: 'Bellota', sans-serif;
}
footer {
    background-color: #e6f0ff;
    text-align: center;
    padding: 20px;
    color: #404F87;
}
footer a {
    text-decoration: none;
    color: #9CB1E1;
    font-family: 'Encode Sans Condensed', sans-serif;
}
footer .social-icons img {
    width: 24px;
    margin: 0 10px;
}

footer .social-icons h3 {
    font-family: 'Encode Sans Condensed', sans-serif;
    font-weight: 400;
}

footer p {
    font-size: 12px;
    color: #9CB1E1;
    font-family: 'Encode Sans Condensed', sans-serif;
}