:root {
    --h-text-color: #404F87;		
    --text-color: #5A619B;	
    --accent-color: #A7C0F7;		
    --light-bg: #E8EFFF;
    --lighter-bg: #F2F6FF;
    --feature-bg: #BFCDEE;
    --footer-link: #9CB1E1;
    --team-member-bg: #E2EBFF;
}