@import url('https://fonts.googleapis.com/css2?family=Bellota:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Encode+Sans+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Rationale&display=swap');

.home-page {
   display: block;
   justify-items: center;
}

.whatVideo-container {
    margin-bottom: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
 
.whatVideo-container h2 {
    font-family: 'Encode Sans Condensed', sans-serif;
    font-weight: 400;
    align-self: flex-start;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.iframe-style {
    width: 800px;
    aspect-ratio: 16 / 9;
    border-radius: 1rem;
    object-fit: cover;
}


.featured-container {
    background-color: var(--light-bg);
    font-family: 'Encode Sans Condensed', sans-serif;
    text-align: center;
    justify-items: center;
    margin-bottom: 2rem;
    padding: 1%;
    border-radius: 8px;
}
 
.featured-container h2 {
    font-family: 'Bellota', sans-serif;
    text-align: center;
    margin-bottom: 2rem;
}

.feature-gallery {
    z-index: 2;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--feature-bg);
    position: relative;
    width: 300px;
    height: auto;
    padding: 3rem;
    overflow: hidden; 
    border-radius: 8px;
}

.feature-gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.feature-gallery button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: var(--text-color);
    cursor: pointer;
    font-size: 3rem;
    background: none;
    border: none;
}

.feature-gallery .feature-prev {
    left: 5px;
}

.feature-gallery .feature-next {
    right: 5px;
}

.download-button {
    display: inline-block;
    background-color: #0052cc; 
    color: #ffffff;
    padding: 0.75rem 1.5rem;
    border-radius: 50px;
    text-decoration: none;
    font-weight: 600;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-bottom: 2rem;
}

.download-button:hover {
    background-color: #003d99; 
    transform: scale(1.05);
}

.blog-section {
    line-height: 1.6;
    text-align: justify;
}

.blog-section h2 {
    font-family: 'Encode Sans Condensed', sans-serif;
    font-weight: 400;
    margin-top: 6rem;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.blog-section p {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.howVideo-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.howVideo-container h2 {
    font-family: 'Encode Sans Condensed', sans-serif;
    font-weight: 400;
    align-self: flex-start;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.section-layout {
    width: 800px;
    margin-top: 2rem;
    font-family: 'Encode Sans Condensed', sans-serif;
}