@import url('https://fonts.googleapis.com/css2?family=Bellota:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Encode+Sans+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Rationale&display=swap');

/* main.homepage{
    overflow-x: hidden;
} */

.home-page {
   display: block;
   justify-items: center;
}

.whatVideo-container {
    padding: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
 
.whatVideo-container h2 {
    font-family: 'Encode Sans Condensed', sans-serif;
    font-weight: 400;
    align-self: flex-start;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.whatVideo-container iframe {
    width: 800px;
    height: auto;
    aspect-ratio: 16 / 9; 
    border-radius: 1rem;
}

.featured-container {
    background-color: #E8EFFF;
    font-family: 'Encode Sans Condensed', sans-serif;
    text-align: center;
    justify-items: center;
    margin-bottom: 8rem;
    padding: 1%;
}

.featured-container h2 {
    font-family: 'Bellota', sans-serif;
    text-align: left;
    margin-bottom: 2rem;
}

.feature-section {
    background-color: #BFCDEE;
    width: 600px;
    height: auto;
    z-index: 2;
    padding: 1.5rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sample-image {
    width: 18.75rem;
    height: auto;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.download-TrueHue {
    display: flex;
    align-items: center; 
    gap: 1rem; 
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.download-TrueHue img.app-icon {
    height: 40px;
}

.download-TrueHue img:hover {
    transform: scale(1.1);
}

.blog-section {
    line-height: 1.6;
    text-align: justify;
}

.blog-section h2 {
    font-family: 'Encode Sans Condensed', sans-serif;
    font-weight: 400;
    margin-bottom: 1.5rem;
    font-size: 2rem;
}

.blog-section p {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.howVideo-container {
    padding: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.howVideo-container h2 {
    font-family: 'Encode Sans Condensed', sans-serif;
    font-weight: 400;
    align-self: flex-start;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.howVideo-container iframe {
    width: 800px;
    height: auto;
    aspect-ratio: 16 / 9; 
    border-radius: 1rem;
}

.section-layout {
    width: 800px;
    margin: 0 auto;
    font-family: 'Encode Sans Condensed', sans-serif;

}

.section-layout iframe {
    width: 100%;
    max-width: 600px;
    height: 338px;
    border-radius: 0.5rem;
}